# Environnement virtuel
venv/
.env

# Python cache
__pycache__/
*.pyc

# Données locales (très important !)
data/
chroma_db/
*.pdf


start-1.py
start-2.py
pdf-rag-clean.py
pdf-rag-V2.py
pdf-rag.py
Modelfile
categorizer.py


# OS spécifiques
.DS_Store